<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gestao_alunos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <gestao_alunos.Properties.Settings>
            <setting name="nome" serializeAs="String">
                <value />
            </setting>
            <setting name="idade" serializeAs="String">
                <value />
            </setting>
            <setting name="ano" serializeAs="String">
                <value />
            </setting>
            <setting name="numero" serializeAs="String">
                <value />
            </setting>
            <setting name="turma" serializeAs="String">
                <value />
            </setting>
            <setting name="sesdia" serializeAs="String">
                <value />
            </setting>
            <setting name="sesmes" serializeAs="String">
                <value />
            </setting>
            <setting name="sesano" serializeAs="String">
                <value />
            </setting>
            <setting name="remonome" serializeAs="String">
                <value />
            </setting>
            <setting name="remoidade" serializeAs="String">
                <value />
            </setting>
            <setting name="remoano" serializeAs="String">
                <value />
            </setting>
            <setting name="remonum" serializeAs="String">
                <value />
            </setting>
            <setting name="remoturma" serializeAs="String">
                <value />
            </setting>
            <setting name="setting" serializeAs="String">
                <value />
            </setting>
        </gestao_alunos.Properties.Settings>
    </userSettings>
</configuration>
